<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    MageBR_BoletoBancario
 * @author     Eric Cavalcanti (MageBR@gmail.com)
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    OSL 3.0 - http://www.MageBR.com
 */
-->
<config>
    <modules>
        <MageBR_BoletoBancario>
            <version>2.0.0</version>
        </MageBR_BoletoBancario>
    </modules>
    <global>
        <!-- INICIO DAS CONFIGURAÇÕES DO TEMPLATE DE E-MAIL -->
        <template>
            <email>
                <!--
                    Note que a tag: boleto_bancario_email_segunda_via
                    é a mesma definida no system.xml, no nó
                 -->
                <boleto_bancario_email_segunda_via translate="label" module="BoletoBancario">
                    <!-- Nome do Template -->
                    <label>Boleto Bancário - Envio da Segunda Via</label>
                    <!-- Arquivo do Template -->
                    <!-- O Arquivo se encontra em /app/locale/[IDIOMA]/template/email -->
                    <file>boletobancario/segunda_via.html</file>
                    <!-- Define que o formato é HTML -->
                    <type>html</type>
                </boleto_bancario_email_segunda_via>
            </email>
        </template>
        <!-- INICIO DAS CONFIGURAÇÕES DO TEMPLATE DE E-MAIL -->
        <models>
            <BoletoBancario>
                <class>MageBR_BoletoBancario_Model</class>
                <resourceModel>BoletoBancario_mysql4</resourceModel>
            </BoletoBancario>
            <BoletoBancario_mysql4>
                <class>MageBR_BoletoBancario_Model_Mysql4</class>
                <entities>
                    <api_debug><table>BoletoBancario_api_debug</table></api_debug>
                </entities>
            </BoletoBancario_mysql4>
			<BoletoBancario_mysql4>
                <class>MageBR_BoletoBancario_Model_Mysql4</class>
                <entities>
                    <BoletoBancario_return><table>BoletoBancario</table></BoletoBancario_return>
                </entities>
            </BoletoBancario_mysql4>
        </models>
        <resources>
            <BoletoBancario_setup>
                <setup>
                    <module>MageBR_BoletoBancario</module>
                    <class>MageBR_BoletoBancario_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </BoletoBancario_setup>
            <BoletoBancario_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </BoletoBancario_write>
            <BoletoBancario_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </BoletoBancario_read>
        </resources>
        <blocks>
            <BoletoBancario><class>MageBR_BoletoBancario_Block</class></BoletoBancario>
        </blocks>
<helpers>
   <BoletoBancario>
          <class>MageBR_BoletoBancario_Helper</class>
    </BoletoBancario>
</helpers>
    </global>
    <frontend>      
        <routers>
            <BoletoBancario>
                <use>standard</use>
                <args>
                    <module>MageBR_BoletoBancario</module>
                    <frontName>BoletoBancario</frontName>
                </args>
            </BoletoBancario>
        </routers>
        <translate>
            <modules>
                <MageBR_BoletoBancario>
                    <files>
                        <default>MageBR_BoletoBancario.csv</default>
                    </files>
                </MageBR_BoletoBancario>
            </modules>
        </translate>
        <layout>
            <updates>
                <BoletoBancario>
                    <file>BoletoBancario.xml</file>
                </BoletoBancario>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <MageBR_BoletoBancario>
                    <files>
                        <default>MageBR_BoletoBancario.csv</default>
                    </files>
                </MageBR_BoletoBancario>
            </modules>
        </translate>        
    </adminhtml>
    <default>
         <payment>
             <BoletoBancario_standard>
                  <model>BoletoBancario/standard</model>
                  <title>Boleto Bancário</title>
                  <allowspecific>1</allowspecific>                  
				  <custom_text>Após a confirmação do pedido, você será redirecionado para impressão do Boleto Bancário.</custom_text>
				  <prazo_pagamento>5</prazo_pagamento>
				  <taxa_boleto>2,5</taxa_boleto>
				  <inicio_nosso_numero>80</inicio_nosso_numero>
				  <especie>R$</especie>
				  <demonstrativo1>Pagamento de compra efetuada em loja virtual</demonstrativo1>
				  <demonstrativo2>Taxa bancária - R$ $taxa_boleto</demonstrativo2>
				  <demonstrativo3>Boleto emitido por Hospeda Magento - (www.MageBR.com)</demonstrativo3>
				  <instrucoes1>- Sr. Caixa, receber até 10 dias após o vencimento</instrucoes1>
				  <instrucoes2>- Em caso de dúvidas entre em contato conosco: (xx) xxxx-xxxx ou xxxx@xxxx.com.br</instrucoes2>
				  <instrucoes3></instrucoes3>
				  <instrucoes4></instrucoes4>
                  <path_logo>images/logo_print.gif</path_logo>
			  </BoletoBancario_standard>
        </payment>
    </default>
</config>
